div#content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 100%;
  padding-top: 7%;
}

.x-group {

  margin: 7px 0;
  display: block;
  position: relative;
}

#words {
  display: flex;
  flex-direction: row;
}

#words p#word {
  padding: 8px;
  margin: 15px;
  border-radius: 4px;

  font-family: 'Roboto mono', sans-serif;
  text-transform: lowercase;

  background: #06FF01;
}

#words p#word:hover {
  background: rgb(94, 138, 204);
}

.keys {
  text-align: center;
  padding: 50px 0;
}

.key {
  background: #FFFFFF;
  color: #000000;

  padding: 5px;

  cursor: grab;
  border-radius: 2px;
}

.key:hover {
  font-size: large;
  font-weight: bold;
}

/* Resultado do Jogo */

span#res {
  color: greenyellow;
}

p#ks {
  padding-left: 20px;
}

/* ... */

#slider {
  position: absolute;
  right: 5px;

}

#slider button {
  border: 0;
  background: #f25;

  width: 60px;
  height: 20px;
  cursor: pointer;

  color: #FFF;
  border-radius: 6px;
}

#slider button:hover {
  opacity: .2;
}