* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

hr {
  padding-bottom: 5px;
  margin-bottom: 15px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body {
  height: 100vh;
  font-family: "Roboto";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  background: skyblue;
  /* overflow: hidden; */
}

div.menu-section {
  display: flex;
  height: 80px;
  padding: 50px 0 0 50px;
}

header {
  background-color: #7159c1;
}

li {
  list-style: none;
  display: inline;
}

h1 {
  font-weight: 400;
  color: #765A64;
}

.clickable {
  cursor: pointer;
}